<% layout("layouts/boilerplate") %>
<%- include("../includes/filter.ejs") %>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b> <br> 
                            <i class="fa-solid fa-location-dot"></i><b><i><%= listing.country %></i></b><br>
                            <%= listing.price.toLocaleString("en-BD") %> BDT / night
                                <i class="tax-info">&nbsp;&nbsp; +15% VAT</i>
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>

    <script>
        let taxswitch = document.getElementById("switchCheckDefault");
        taxswitch.addEventListener("click", () => {
            let taxInfo = document.getElementsByClassName("tax-info");
            for (info of taxInfo) {
                if (info.style.display !== "inline") {
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }
            }
        })
    </script>